.App {
  display: flex;
}

.MemoEditor {
  background-color: blue;
  text-align: center;
  width: 50%;
  height: 1000px;
}

.MemoList {
  background-color: red;
  width: 50%;
}

.MemoList h3 {
  text-align: center;
}

.MemoItem {
  margin-bottom: 10px;
}
.MemoItem .info {
  display: flex;
  border-bottom: 1px solid gray;
}
/* .MemoItem .info .content {
  width: 30%;
  text-align: left;
}
.MemoItem .info .matter {
  width: 20%;
  text-align: center;
}
.MemoItem .info .date {
  width: 50%;
  text-align: right;
} */
